# <center>Introduction to Pandas</center>

![](https://pandas.pydata.org/_static/pandas_logo.png)

>pandas is an open source, BSD-licensed library providing **high-performance**, **easy-to-use data structures** and **data analysis tools** for the Python programming language.  Pandas stands for “Python Data Analysis Library”. According to the Wikipedia page on Pandas, “the name is derived from the term “panel data”, an econometrics term for multidimensional structured data sets.” 

## Why use Pandas?

What’s cool about Pandas is that it takes data (like a CSV or TSV file, or a SQL database) and creates a Python object with rows and columns called **data frame** that looks very similar to table in a statistical software (think Excel). This is so much easier to work with in comparison to working with lists and/or dictionaries through for loops or list comprehension!

So, in a way:

# <center>ARRAY + TABLE = PANDAS</center>

![](https://memegenerator.net/img/instances/500x/51740682/you-are-a-python-lover-if-pandas-doesnt-mean-but-httppandaspydataorg.jpg)

## Installation

Simply,
```
pip install pandas
```

## Reading data from a CSV file

You can read data from a CSV file using the ``read_csv`` function. By default, it assumes that the fields are comma-separated.

In [1]:
import pandas as pd

In [2]:
imdb_df = pd.read_csv("data/imdb_1000.csv")

In [3]:
imdb_df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [16]:
bikes_df = pd.read_csv("data/bikes.csv", sep=';', 
                       parse_dates=['Date'], 
                       index_col='Date',
                       dayfirst=True)

In [17]:
bikes_df.head()

,Unnamed: 1,Rachel / Papineau,Berri1,Maisonneuve_2,Maisonneuve_1,Brébeuf,Parc,PierDup,CSC (Côte Sainte-Catherine),Pont_Jacques_Cartier
Date,,,,,,,,,,
2012-01-01,00:00,16,35,51,38,5.0,26,10,0,27.0
2012-01-02,00:00,43,83,153,68,11.0,53,6,1,21.0
2012-01-03,00:00,58,135,248,104,2.0,89,3,2,15.0
2012-01-04,00:00,61,144,318,116,2.0,111,8,1,19.0
2012-01-05,00:00,95,197,330,124,6.0,97,13,2,16.0

In [18]:
bikes_df = pd.read_csv("data/bikes.csv", 
                       sep=';', 
                       parse_dates=['Date'], 
                       dayfirst=True, 
                       index_col='Date')

In [20]:
bikes_df.head(n=10)

,Unnamed: 1,Rachel / Papineau,Berri1,Maisonneuve_2,Maisonneuve_1,Brébeuf,Parc,PierDup,CSC (Côte Sainte-Catherine),Pont_Jacques_Cartier
Date,,,,,,,,,,
2012-01-01,00:00,16,35,51,38,5.0,26,10,0,27.0
2012-01-02,00:00,43,83,153,68,11.0,53,6,1,21.0
2012-01-03,00:00,58,135,248,104,2.0,89,3,2,15.0
2012-01-04,00:00,61,144,318,116,2.0,111,8,1,19.0
2012-01-05,00:00,95,197,330,124,6.0,97,13,2,16.0
2012-01-06,00:00,75,146,244,98,4.0,86,4,0,17.0
2012-01-07,00:00,54,98,108,80,5.0,53,6,2,9.0
2012-01-08,00:00,63,95,98,62,13.0,64,11,1,23.0
2012-01-09,00:00,173,244,432,165,9.0,198,12,2,23.0
2012-01-10,00:00,241,397,563,238,6.0,275,18,3,46.0

In [22]:
bikes_df.index

DatetimeIndex(['2012-01-01', '2012-01-02', '2012-01-03', '2012-01-04',
               '2012-01-05', '2012-01-06', '2012-01-07', '2012-01-08',
               '2012-01-09', '2012-01-10',
               ...
               '2012-12-22', '2012-12-23', '2012-12-24', '2012-12-25',
               '2012-12-26', '2012-12-27', '2012-12-28', '2012-12-29',
               '2012-12-30', '2012-12-31'],
              dtype='datetime64[ns]', name='Date', length=366, freq=None)

In [21]:
bikes_df.columns

Index(['Unnamed: 1', 'Rachel / Papineau', 'Berri1', 'Maisonneuve_2',
       'Maisonneuve_1', 'Brébeuf', 'Parc', 'PierDup',
       'CSC (Côte Sainte-Catherine)', 'Pont_Jacques_Cartier'],
      dtype='object')

In [24]:
type(bikes_df.dtypes)

pandas.core.series.Series

In [26]:
bikes_df['Berri1'].index

DatetimeIndex(['2012-01-01', '2012-01-02', '2012-01-03', '2012-01-04',
               '2012-01-05', '2012-01-06', '2012-01-07', '2012-01-08',
               '2012-01-09', '2012-01-10',
               ...
               '2012-12-22', '2012-12-23', '2012-12-24', '2012-12-25',
               '2012-12-26', '2012-12-27', '2012-12-28', '2012-12-29',
               '2012-12-30', '2012-12-31'],
              dtype='datetime64[ns]', name='Date', length=366, freq=None)

In [23]:
bikes_df.dtypes

Unnamed: 1                      object
Rachel / Papineau                int64
Berri1                           int64
Maisonneuve_2                    int64
Maisonneuve_1                    int64
Brébeuf                        float64
Parc                             int64
PierDup                          int64
CSC (Côte Sainte-Catherine)      int64
Pont_Jacques_Cartier           float64
dtype: object

## Creating dataframe

A list of lists/tuples can be used to create a DataFrame.

In [ ]:
# The inital set of baby names and bith rates
names = ['Bob','Jessica','Mary','John','Mel']
births = [968, 155, 77, 578, 973]

In [ ]:
BabyDataSet = list(zip(names,births))

In [ ]:
df = pd.DataFrame(data = BabyDataSet, columns=['Names', 'Births'])

In [ ]:
df.head()

In [ ]:
# saving dataframe as csv file
df.to_csv('data/births.csv')

## Selecting columns

When you read a CSV, you get a kind of object called a DataFrame, which is made up of rows and columns. You get columns out of a DataFrame the same way you get elements out of a dictionary.

In [ ]:
imdb_df.columns

In [ ]:
imdb_df['title']

In [ ]:
type(imdb_df['title'])

In [ ]:
bikes_df['Berri1']

In [ ]:
# selecting multiple columns at once
imdb_df[['star_rating', 'genre']]

## Understanding columns

On the inside, the type of a column is ``pd.Series`` and pandas Series are internally numpy arrays. If you add ``.values`` to the end of any Series, you'll get its internal **numpy array**.

In [ ]:
durations = imdb_df['duration']

In [ ]:
type(durations)

In [ ]:
type(durations.values)

In [ ]:
duration_arr = durations.values

In [ ]:
duration_arr[:5]

## Applying functions to columns

In [ ]:
capitalizer = lambda x: x.upper()
imdb_df['title'].apply(capitalizer)

## Plotting a column

Use ``.plot()`` function!

In [ ]:
%matplotlib inline

In [ ]:
bikes_df['Berri1'].plot()

We can also plot all the columns just as easily.

In [ ]:
bikes_df.plot(figsize=(15, 10))

## Index

### DATAFRAME = COLUMNS + INDEX + ND DATA

### SERIES = INDEX + 1-D DATA

**Index** or (**row labels**) is one of the fundamental data structure of pandas. It can be thought of as an **immutable array** and an **ordered set**.

> Every row is uniquely identified by its index value.

In [ ]:
bikes_df.index

In [ ]:
# get row for date 2012-01-01
bikes_df.loc['2012-01-01']

#### To get row by integer index:

Use ``.iloc[]`` for purely integer-location based indexing for selection by position.

In [ ]:
bikes_df.iloc[0]

## Slicing of dataframe

In [ ]:
# fetch first 5 rows of dataframe
bikes_df[:5]

In [ ]:
# fetch first 5 rows of a specific column
bikes_df['Berri1'][:5]

## Value counts

Get count of unique values in a particular column/Series.

In [ ]:
imdb_df['genre'].value_counts()

In [ ]:
# plotting value counts as a bar chart
imdb_df['genre'].value_counts().plot(kind='bar')

# Selecting rows where column has a particular value

In [ ]:
imdb_df['genre'] == 'Adventure'

In [ ]:
# select only those movies where genre is adventure
adventure_movies = imdb_df[imdb_df['genre'] == 'Adventure']

In [ ]:
adventure_movies.head()

In [ ]:
good_adventure_movies = imdb_df[(imdb_df['genre'] == 'Adventure') & (imdb_df['star_rating'] > 8.4)]

In [ ]:
good_adventure_movies

In [ ]:
# organised way
is_adventure = imdb_df['genre'] == 'Adventure'
has_high_rating = imdb_df['star_rating'] > 8.4
good_adventure_movies = imdb_df[is_adventure & has_high_rating]

# Just see title and duration of good adventure movies
good_adventure_movies[['title', 'duration']]

In [ ]:
# which genre has highest number of movies with star rating above 8?
has_above_8_rating = imdb_df['star_rating'] >= 8.0
good_movies = imdb_df[has_above_8_rating]
good_movies_genre_count = good_movies['genre'].value_counts()

In [ ]:
good_movies_genre_count

In [ ]:
good_movies_genre_count.idxmax()

## Adding a new column to DataFrame

In [ ]:
weekdays = bikes_df.index.weekday

In [ ]:
weekdays

In [ ]:
bikes_df['weekday'] = weekdays

## Deleting an existing column from DataFrame

In [ ]:
bikes_df.head()

In [ ]:
bikes_df.drop('Unnamed: 1', axis=1)

In [ ]:
bikes_df.drop('Unnamed: 1', axis=1, inplace=True)

In [ ]:
# deleting column no. 1, 2, and 3
bikes_df.drop(bikes_df.columns[[1,2,3]], axis=1)

## Deleting a row in DataFrame

In [ ]:
df

In [ ]:
df.drop(df.index[0])

In [ ]:
df.drop([0,1,2])

In [ ]:
# drop movies with rating less than 9.0
has_poor_rating = imdb_df['star_rating'] < 9.0
imdb_df.drop(imdb_df[has_poor_rating].index)

## Group By

Any groupby operation involves one of the following operations on the original object. They are −

- Splitting the Object

- Applying a function

- Combining the results

In many situations, we split the data into sets and we apply some functionality on each subset. In the apply functionality, we can perform the following operations −

- **Aggregation** − computing a summary statistic

- **Transformation** − perform some group-specific operation

- **Filtration** − discarding the data with some condition

In [ ]:
weekday_groups = bikes_df.groupby('weekday')

In [ ]:
weekday_counts = weekday_groups.aggregate(sum)

In [ ]:
weekday_counts

In [ ]:
weekday_counts.index = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [ ]:
weekday_counts

In [ ]:
weekday_counts['Berri1'].plot(kind='bar')

Let us see one more example!

In [ ]:
genre_groups = imdb_df.groupby('genre')

In [ ]:
genre_groups.groups

In [ ]:
# get crime movies group
genre_groups.get_group('Crime')

In [ ]:
import numpy as np

In [ ]:
averages = genre_groups.aggregate(np.mean)

In [ ]:
averages

In [ ]:
# get sum, mean and std-dev of movie durations for each group
duration_analysis = genre_groups['duration'].aggregate([np.sum, np.mean, np.std])

In [ ]:
duration_analysis

In [ ]:
# change duration of all movies in a particular genre to mean duration of the group
averaged_movie_durations = genre_groups['duration'].transform(lambda x:x.mean())

In [ ]:
# drop groups/genres that do not have average movie duration greater than 120.
genre_groups.filter(lambda x: x['duration'].mean() > 120)

## Exercises:

https://github.com/guipsamora/pandas_exercises/

Practice pandas using these exercises. Every exercise has 3 notebooks:
- Exercise
- Solutions
- Exercise with solutions

![](https://memegenerator.net/img/instances/500x/73988569/pythonpandas-is-easy-import-and-go.jpg)